@import '../../App.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 15px;
    border: 2px solid black;
    margin: 2px;

    @media screen and (max-width: 426px) {
        flex-direction: column;
    }

    .search{
        @media screen  and (max-width: 426px) {
            display: flex;
            flex-direction: column;
            width: 20rem;
        }
    }

    h1 {
        color: red;
        border: 2px solid red;
        padding: 10px;
        font-family: $logo-font;
        letter-spacing: 2px;

        @media screen and (max-width: 426px) {
            width: 20rem;
            text-align: center;
            letter-spacing: 1rem;
        }
    }

    input {
    border: none;
    border-radius: 20px;
    border: 1px solid red;
    color: red;
    padding: 10px;
    margin: 5px;
    }

    button {
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: red;
    border-radius: 20px;
    }
    
}
