.show-iframe {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 2px solid black;

  @media screen and (max-width: 426px) {
    width: 90%;
  }
}

.hide-iframe {
  display: none;
  margin: 10px auto;
  padding: 5px;
  border: none;

}